<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<style>
  .body { width: 90%; }
  form > section { display: flex; padding-bottom: 4em;}
  .spaceIndent {display: block; width: 5em; text-align: center;}
  .title { font-size: 2rem; font-weight: bold; text-align: center;}
  .error-class { color: red; font-weight: bold; }
  input { margin-right: 2em; }
  .btn {display: flex; justify-content: space-around; }
  .btn > button { padding: 1em; }
</style>
<body>
  <p class="title">Hello, Member Join Page</p>

  <h2>Please check this . </h2>

  <form action="/member/add" th:action th:object="${member}" method="post">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p class="error-class" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
    </div>
    <section>
      <span class="spaceIndent">ID : </span> <input type="text" th:field="*{id}" placeholder="Please Note ID"/>
      <p class="error-class" th:errors="*{id}">ID 오류</p>
    </section>
    <section>
      <span class="spaceIndent">Password : </span> <input type="password" th:field="*{password}" placeholder="Please Note Password"/>
      <p class="error-class" th:errors="*{password}">Password 오류</p>
    </section>
    <section>
      <span class="spaceIndent">Nickname : </span> <input type="text" th:field="*{nickname}" placeholder="Please Note Nickname"/>
      <p class="error-class" th:errors="*{nickname}">Nickname 오류</p>
    </section>
    <section>
      <span class="spaceIndent">Age : </span> <input type="text" th:field="*{age}" placeholder="Please Note age"/>
      <p class="error-class" th:errors="*{age}">Age 오류</p>
    </section>
    <section>
      <span class="spaceIndent">Value : </span> <input type="text" th:field="*{value}" placeholder="Please Note value"/>
      <p class="error-class" th:errors="*{value}">Value 오류</p>
    </section>
    <div class="btn">
      <button onclick="location.href='/member/add'" type="submit">Sign UP Complete</button>
      <button onclick="location.href='/'">Home</button>
    </div>

  </form>
</body>
</html>
