<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<style>
  .wrap { font-size: 4vw; }
  .title { text-align: center; font-size: 5vw; font-weight: bold; }
  .member {width: 80%; margin: 0 auto;}
  .member__list { display: flex; justify-content: space-around; border-bottom: 1px solid black;}
  .member__num { font-size: 3vw; text-align: center; }
  .home { font-size: 3vw; text-align: center; font-weight: bold; padding: 0.5em;}
</style>
<body>
  <div class="wrap">
    <p class="title">Show Member List</p>

    <section class="member" th:object="${members}">
      <div th:each="member : ${members}">
        <div class="member__list" >
          <p th:field="${member.idx}" th:text="|idx = ${member.idx}|">idx</p>
          <p th:field="${member.id}" th:text="|ID = ${member.id}|">memberId</p>
        </div>
        <p class="member__num" th:if="${memberStat.count}==${memberStat.size}" th:text="|회원의 총 수는 : ${memberStat.size} 명 입니다.|">memberNumber</p>
      </div>
    </section>
    <div class="home">
      <button class="home" onclick="location.href='/'">Home</button>
    </div>
  </div>

</body>
</html>